@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v12-cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v12-cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v12-cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v12-cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v12-cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v12-cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v12-cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('../fonts/montserrat-v12-cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v12-cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v12-cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v12-cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v12-cyrillic-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}

ul {
   padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

textarea {
  resize: none;
}

body {
  min-width: 320px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #f6f6f6;
}


.wrapper {
  max-width: 996px;
  margin: 0px auto;
}

.main-title {
  font-size: 32px;
  line-height: 20px;
}

.tabs-list {
  display: flex;
}

.tabs-list__link {
  display: block;
  position: relative;
  top: 4px;
  padding: 10px 25px;
  border-radius: 2px 2px 0 0;
  background-color: #edeeef;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #8288a2;
  
}

.tabs-list li.active .tabs-list__link,
.tabs-list__link:hover {
  background-color: #ffffff;
  color: #212bff;
}

.tabs-content {
  min-height: 530px;
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: 0 4px 4px 4px;
  background-color: #ffffff;
}

.tabs-content__item {
  display: none;
  min-height: 500px;
  width: 100%;
}

.tabs-content__item.active {
  display: block;
}


@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 736px;
    margin: 0 16px;
   }

  .main-title{
    font-size: 24px;
  }

  .tabs-list {
    flex-direction: column;
  }

  .tabs-list li {
    width: 100%;
  }

  .tabs-content {
    border-radius: 0;
  }
}

/*-------Форма доставки--------*/
.main-form input,
.main-form textarea {
  box-sizing: border-box;
  padding: 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 26px;
}

.main-form input {
  
  
}

.main-form input::placeholder {
  color: #b8bed8;
}

.main-form label {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
}

.fullname_phone{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom:10px;
}

.half-width{
 width: 50%;
}

.half-width:first-of-type{
 margin-right:15px;
}

#fullname, #phone{
  width: 100%;
}

#adress{
  width: 100%;
  margin-bottom: 10px;
}

#comment{
  width: 100%;
  margin-bottom: 50px;
}

.form-btn{
  font-family: inherit;
  outline: none;
  float:right;
  color: white;
  background-color: #212bff;
  padding: 20px 50px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .fullname_phone {
    flex-direction: column;
  }

  .half-width{
    display: block;
    width:100%;
  }

  }

/*-------Форма самовывоза--------*/
.radios{
  display: flex;
  width:100%;
  margin-bottom: 10px;
}

.radio-half{
width:50%;
}

.map{
  margin-bottom: 15px;
}

.map iframe {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .radios {
    flex-direction: column;
  }

  .radio-half{
    display: block;
    width:100%;
    margin-bottom: 10px;
  }

  }
